<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>黑色Html5响应式个人博客模板――主题《如影随形》</title>
<meta name="keywords" content="个人博客模板,博客模板,响应式" />
<meta name="description" content="如影随形主题的个人博客模板，神秘、俏皮。" />
<link href="/static/web2/css/base.css" rel="stylesheet">
<link href="/static/web2/css/about.css" rel="stylesheet">
<link href="/static/web2/css/media.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="/static/web2/js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<div class="ibody">
  <header>
    <h1>莎士比亚</h1>
    <h2>爱的力量是和平，从不顾理性、成规和荣辱，它能使一切恐惧、震惊和痛苦在身受时化作甜蜜。</h2>
    <div class="logo"><a href="/"></a></div>
    <nav id="topnav"><a href="{{ url_for('web.index') }}">首页</a><a href="{{ url_for('web.about_me') }}">关于我</a><a href="{{url_for('web.home_page2')}}">后端平台</a><a href="{{url_for('web.notes')}}">我的笔记</a></nav>
  </header>
  <article>
    <h3 class="about_h">您现在的位置是：<a href="/">首页</a>><a href="1/">关于我</a></h3>
    <div class="about">
      <h2>Just about me</h2>
      <ul>
        <p>何志成，男，20，一个来自于云南曲靖罗平的男生</p>
        <p>Python是一种计算机程序设计语言。是一种动态的、面向对象的脚本语言，最初被设计用于编写自动化脚本(shell)，随着版本的不断更新和语言新功能的添加，越来越多被用于独立的、大型项目的开发。</p>
        <p>自由是一种力量，埋藏在深邃的大海之中，为人生的奋斗激荡起波涛汹涌；自由是一个梦想，孕育在宽广的天空之中，为生命的真谛谱写出风云变幻；自由是一份责任，蕴藏在我们每个人的心底，为自己的生活寻找方向与梦想。</p>
        <p>生命诚可贵，爱情价更高，若为自由故，二者皆可抛。这句话告诉我们， 对于一切东西，自由是最重要的，不管外面要经历多少风雨，鸟儿都渴望自由，渴望自己在蓝天上飞翔，即使遇到狂风暴雨。</p>
      </ul>
    </div>
  </article>
  <aside>
    <div class="avatar"><a href="about.html"><span>关于何志成</span></a></div>
    <div class="topspaceinfo">
      <h1>执子之手，与子偕老</h1>
      <p>于千万人之中，我遇见了我所遇见的人....</p>
    </div>
    <div class="about_c">
      <p>网名：hancc | 憨猜猜</p>
      <p>职业：python开发师 </p>
      <p>籍贯：云南省―曲靖市</p>
      <p>电话：15288446770</p>
      <p>邮箱：2534965436@qq.com</p>
    </div>
  </aside>
  <script src="js/silder.js"></script>
  <div class="clear"></div>
  <!-- 清除浮动 --> 
</div>
</body>
</html>
